%h1 Movements for #{@user.first_name}
- if @movements.nil?
  No movements.
  - if current_user.nil?
    Maybe you should sign in.
- else
  %table
    %th When
    %th Weight (lb)
    %th Duration (seconds)
    - @movements.each do |movement|
      %tr
        %td
          = movement.happened_at.to_s(:long)
        %td
          = movement.weight_pounds.round(2)
        %td
          = movement.duration